:host ::ng-deep .mat-button-toggle-group { border: 1px solid #203b39; border-radius: 10px; background: #102422; }
:host ::ng-deep .mat-button-toggle { color: #86a39e; border-color: #203b39; font-size: 12px; font-weight: 700; }
:host ::ng-deep .mat-button-toggle-checked { background: #1a423a; color: #7ce1bc; }
